@model IEnumerable<prjMVCCoreDemo.Models.CProductWrap>

@{
    ViewData["Title"] = "List";
}

<h1>課程一覽</h1>
<div>
    @using (Html.BeginForm())
    {
        <span>關鍵字</span>
        @Html.TextBox("Keyword")
        <input type="submit" value="搜尋" class="btn btn-outline-dark">
    }
</div>
<p>
    <a asp-action="Create">新增課程</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FImagePath)
            </th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FImagePath)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id=item.FId })
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "Delete","Product", new { id=item.FId },
                new{onclick="return confirm('確定要刪除嗎?')"})
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
